<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button routerLink="add">Ajouter</button>
      <button>Supprimer</button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">2.34 €</td>
          <td class="qty">346</td>
        </tr>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">2.34 €</td>
          <td class="qty">346</td>
        </tr>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">2.34 €</td>
          <td class="qty">346</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
