<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur officia
    doloribus a vitae tempore omnis quod in sunt ut aspernatur sapiente
    molestias, nihil esse, ipsam natus voluptate! Iure, dolores alias.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur officia
    doloribus a vitae tempore omnis quod in sunt ut aspernatur sapiente
    molestias, nihil esse, ipsam natus voluptate! Iure, dolores alias.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur officia
    doloribus a vitae tempore omnis quod in sunt ut aspernatur sapiente
    molestias, nihil esse, ipsam natus voluptate! Iure, dolores alias.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur officia
    doloribus a vitae tempore omnis quod in sunt ut aspernatur sapiente
    molestias, nihil esse, ipsam natus voluptate! Iure, dolores alias.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur officia
    doloribus a vitae tempore omnis quod in sunt ut aspernatur sapiente
    molestias, nihil esse, ipsam natus voluptate! Iure, dolores alias.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur officia
    doloribus a vitae tempore omnis quod in sunt ut aspernatur sapiente
    molestias, nihil esse, ipsam natus voluptate! Iure, dolores alias.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur officia
    doloribus a vitae tempore omnis quod in sunt ut aspernatur sapiente
    molestias, nihil esse, ipsam natus voluptate! Iure, dolores alias.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur officia
    doloribus a vitae tempore omnis quod in sunt ut aspernatur sapiente
    molestias, nihil esse, ipsam natus voluptate! Iure, dolores alias.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur officia
    doloribus a vitae tempore omnis quod in sunt ut aspernatur sapiente
    molestias, nihil esse, ipsam natus voluptate! Iure, dolores alias.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur officia
    doloribus a vitae tempore omnis quod in sunt ut aspernatur sapiente
    molestias, nihil esse, ipsam natus voluptate! Iure, dolores alias.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur officia
    doloribus a vitae tempore omnis quod in sunt ut aspernatur sapiente
    molestias, nihil esse, ipsam natus voluptate! Iure, dolores alias.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur officia
    doloribus a vitae tempore omnis quod in sunt ut aspernatur sapiente
    molestias, nihil esse, ipsam natus voluptate! Iure, dolores alias.
  </p>
</main>
